<!DOCTYPE html>
<html lang="en">
<head>
   <!--
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
   --> 

   <%- include('../layouts/head', {title: 'Home | Musify'}) %>

</head>
<body>
    <article class="page custom-scrollbar" data-page>
        <!--
        -#TOP APP BAR
        -->
        <%- include('../partials/top_bar') %>
    </article>
</body>
</html>